@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


#header{
    display: flex;
    width: 100%;
}
.header_nav{
    display: flex;
    max-width: 1325px;
    margin: 0 auto;
    /* justify-content: space-between; */
    /* padding: 40px; */
    border: 5px solid green;
}
.header_ul img{
    width: 10%
}
.header_ul{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    list-style: none;
    font-family: "Inter", sans-serif;
    border: 5px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}
.header_button{
    display: flex;
    font-family: "Inter", sans-serif;
    background-color: #2194f3;
    border: none;
    border-radius: 6px;
    /* border: 5px solid yellow; */
    padding: 20px;
    color: #fff;
    font-size:medium;
    cursor: pointer;
    transition: 0.25s;
}
.header_li{
    display: flex;
    gap: 40px;
    align-items: center;
}
.header_li{
    cursor: pointer;
}

.header_li li:hover{
    color: #2194f3;
}
.header_button:hover{
    transform: scale(1.05);
}