main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1565px;
    width:  100%;
}

.bloco_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1325px;
    gap: 15px;
}

.bloco_1_direito {
    width: 460px;
}

.bloco_1btn {
    background-color: #4CAF4F;
    color: #fff;
    width: 105px;
    height: 36px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bloco_1btn:hover {
    background-color: #8ddb90;
    transform: scale(1.2);
}

main h3 {
    font-weight: bold;
    color: #4D4D4D;
    font-size: 25px;
}

main p {
    font-size: 10px;
    letter-spacing: 1px;
    color: #717171;
}

.bloco_2 {
    max-width: 1325px;
    height: 202px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.bloco_2_esquerdo {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    

}

.bloco_2_esquerdo div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco_2_esquerdo img {
    width: 35px;
    height: 24px;
}

.bloco_2_esquerdo div h4 {
    font-size: 29px;
    margin-top: 8px;
    color: 263238;
    font-weight: bolder;
    color: #263238;
}

.bloco_2 p {
  font-size: 11px;
  line-height: 16px; 
  color: #717171;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
 
}

.bloco_2 h4 {
    font-size: 19px;
    font-weight: bold;
    color: #4D4D4D;
    margin: 0;
    padding: 0;
}

.bloco_2 img {
    width: 32px;
    height: 21px;
    display: flex;
    margin-top: 8px;
    position: inside;
}

.bloco_2_direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 525px;
    height: 114px;
}

.bloco_2_up {
    width: 100%;
    height: 43px;
    display: flex; 
    display: flex;
    justify-content: end;
}

.bloco_2_direito_A {
    width: 177px;
    display: flex; 
    gap: 12px;  
}

.bloco_2_sub {
    display: flex;
    flex-direction: column;    
}

.bloco_2_direito_B {
    width: 177px;
    display: flex; 
    gap: 12px;    
}

.bloco_2_down {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: end;
}

.bloco_2_down_A, .bloco_2_down_B {
    width: 177px;
    display: flex; 
    gap: 12px;
}

.sub {
    display: flex;
    flex-direction: column;
}

.bloco_3 {
    max-width: 1325px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding: 22px;
    gap: 0;
}

.bloco_4 {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: 271px;
    max-width: 1325px;
    gap: 20px;
}




.bloco_4 ul {
    display: flex;

}

.bloco_4 li {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.bloco_4 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    text-decoration: none;
    transition: transform 0.4s ease;
}

.bloco_4 a:hover {
    transform: scale(1.2);

}

.bloco_4 p {
    line-height: 1.5;
    margin-bottom: -17px;
    font-size: 11px;
}

.bloco_4_direito {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    
}

.bloco_4_direito span {
    font-size: 12px;
    color: #89939E;
    letter-spacing: 1px;
}

.bloco_4_direito_links {
    display: flex;
    margin-left: -50px;
    flex-direction: column;
}

.bloco_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 354px;
    max-width: 1325px;
}

.bloco_5_up {
    width: 772px;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco_5_up p {
    margin-top: -23px;
    font-size: 11px;
    color: #717171;
    line-height: 1.5;
}

.bloco_5_up h3 {
    font-size: 25px;
    color: #4D4D4D;
    margin-top: 0;
}

.bloco_5_down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}

.bloco_5_down div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  
}

.bloco_link {
    width: 220px;
    height: 123px;
    color: #717171;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    top: -68px;

}

.bloco_link li {
    color: #4CAF4F;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    margin-top: 12px;
}

.bloco_5_direito img {
    
    display: flex;
    justify-content: space-between;
    position: absolute;
}

/*.corpo_main, .main_clients, .main_community, .bloco_1, .bloco_2, .bloco_3, .bloco_4, .bloco_5 {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s, transform 1s ease-out;
}

.ativo {
    opacity: 1;
    transform: translateX(0);
}

.ativo.direita {
    transform: translateX(0);
}

.ativo.baixo {
    transform: translateY(0);
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
*/

@media (max-width: 1200px) {
    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bloco_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bloco_1_direito {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .bloco_2 {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
    }

    .bloco_2_direito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
}

    .bloco_3 {
        display: flex;
        flex-direction: column;
        padding: 90px;
    }

    .bloco_3_direito {
        margin-top: -30px;
    }

    .bloco_4 {
        display: flex;
        flex-direction: column;
        margin-bottom: -50px;
    }

    .bloco_4_direito{
        
        width: 90%;
    }

    .bloco_5 {
        margin-top: 500px;
        display: flex;
        flex-direction: column;
        
    }

    .bloco_5_up {
        width: 100%;
        padding: 20px;
        max-width: 350px;
        width: 100%;
        height: 87px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    
.bloco_5_down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.bloco_5_down div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  
}

    

    
.bloco_4_direito span {
    font-size: 10px;
    color: #89939E;
    letter-spacing: 0;
}

.bloco_4_direito_links  {
    margin-left: -39px;
}

.bloco_4_direito_links a{
    display: flex;
    margin: 2px;
    flex-direction: column;
    

}

.bloco_4_direito_links li {
    width: 100%;
    margin: 1px;
}
}